.Review-itmes {
    width: 670px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    margin-bottom: 25px;
    padding: 8px 25px 8px 8px;
    display: flex;
    align-items: center;
}

.Review-itmes img {
    width: 95px;
    height: 95px;
    border-radius: 6px;
}

.review-info {
    color: #F90;
}

.review-ditiels p {
    margin: 0 15px;
}

.review-ditiels {
    flex-grow: 1;


}

.products-titls {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon {
    color: #FF3030;
    width: 25px;
    height: 25px;
}